@import 'typeface-inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: 'Inter', sans-serif;
   line-height: 1.5;
   font-weight: 400;
   --header-height: 50rem;
   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #2a0845;
   overflow-x: hidden;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@layer components {
   .btn {
      @apply bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded transition ease-in;
   }
}

.card {
   position: relative;
   overflow: hidden;
}

.card::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
   );
   transform: translateX(-100%);
   pointer-events: none;
}

.glow-on-hover {
   transition: box-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
   box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6); /* Adjust color and size as needed */
}

.image-glow-on-hover:hover {
   transition: filter 0.3s ease-in-out;
   filter: drop-shadow(
      0 0 10px rgba(255, 255, 255, 0.7)
   ); /* Adjust color and intensity as needed */
}

input {
   background: #edf2f7; /* This is the color for bg-gray-200 in Tailwind CSS */
}

select {
   background: #edf2f7; /* This is the color for bg-gray-200 in Tailwind CSS */
}

.container {
   display: flex;
   flex-direction: row;
}

.sidebar {
   flex: 0 0 auto; /* for a fixed-width sidebar */
}

.content {
   flex-grow: 1; /* allow the main content to grow */
}

select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: #f2f2f2;
   color: #333;
}

@layer utilities {
   .scrollbar-thin {
      scrollbar-width: thin;
      scrollbar-color: theme('colors.scrollbar-thumb')
         theme('colors.scrollbar-track');
   }

   .scrollbar-thin::-webkit-scrollbar {
      width: 8px;
   }

   .scrollbar-thin::-webkit-scrollbar-track {
      background: theme('colors.scrollbar-track');
   }

   .scrollbar-thin::-webkit-scrollbar-thumb {
      background-color: theme('colors.scrollbar-thumb');
      border-radius: 20px;
      border: 3px solid theme('colors.scrollbar-track');
   }
}

.flip-container {
   display: inline-flex;
   align-items: center;
   position: relative; 
}

.flipper {
   display: inline-block;
   position: relative;
   height: 1em;
   line-height: 1;
   transition: transform 0.6s;
   transform-style: preserve-3d;
}

.flipper.flip {
   transform: rotateX(180deg);
}

.front,
.back {
   backface-visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.back {
   transform: rotateX(180deg);
}

.view-text {
   margin-left: 0.25em;
}
